/* Auteur: Émile Loiselle */
/* Date: 23 avr 2020 */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #223142;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #dce2e2;
  color: #223142
}

li img {
  width: 18%;
  height: 18%;
  padding-left: 160px;
}
