/* Auteur: Émile Loiselle */
/* Date: 23 avr 2020 */

body {
    margin: 0 !important;
    padding: 0 !important;
}

nav {
  background-color: #223142;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  ali
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #dce2e2;
  color: #223142
}

li img {
  padding-left: 160px;
  padding-right: 60px;
}
